body {
    margin: 0;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5pt 0;
    background-color: #000000;
    color: #bebebe;
    font: 1.2em/1 monospace;
}
header a:link {
    color: #bebebe;
    text-decoration: none;
}
header a:visited {
    color: #bebebe;
    text-decoration: none;
}
header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
div#header-text {
    margin-left: 10pt;
}
img#header-img {
    border-radius: 30%;
    height: 60pt;
}
nav {
    background: #222222;
    color: #bebebe;
    font: 1.2em/1 monospace;
}
nav a {
    display: block;
    padding: 8pt;
    background-color: #222222;
    text-align: center;
}
nav a:link {
    color: #bebebe;
    text-decoration: none;
}
nav a:visited {
    color: #bebebe;
    text-decoration: none;
}
nav a:hover {
    background-color: #111;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {
    float: left;
}
nav ul#langs {
    margin-left: auto;
}
nav div#nav {
    display: flex;
    max-width: 512pt;
}
main div#main {
    padding: 0 12pt;
    max-width: 500pt;
	font: 1em/1.5 sans-serif;
    text-align: justify;
    padding-top: 20pt;
    padding-bottom: 20pt;
}
main div#main h1 {
    font-size: 1.5em;
}
main pre {
    overflow: scroll;
}
footer {
    font: 1.2em/1 monospace;
    color: grey;
    text-align: center;
    border-top: thin solid #bebebe;
}
div.center {
	margin: 0 auto;
}
