body {
    margin: 0;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5pt 0;
    background-color: #ffffff;
    color: #000000;
    font: 1.2em/1 monospace;
}
header a:link {
    color: #000000;
    text-decoration: none;
}
header a:visited {
    color: #000000;
    text-decoration: none;
}
header ul, nav ul, footer ul, .nob {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
div#header-text {
    margin-left: 10pt;
}
img#header-img {
    border-radius: 30%;
    height: 60pt;
}
main {
    flex: 1;
}
main div#main {
    padding: 0 12pt;
    max-width: 500pt;
	font: 1em/1.5 sans-serif;
    padding-top: 20pt;
    padding-bottom: 20pt;
}
main div#main h1 {
    font-size: 1.5em;
}
main pre {
    overflow: scroll;
}
main hr {
    color: #bebebe;
}
div.center {
	margin: 0 auto;
}
